<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @type.name.capitalize %>
</p>

<%= link_to 'Edit', edit_type_path(@type), class: 'btn btn-outline-warning' %> |
<%= link_to 'Back', types_path, class: 'btn btn-outline-info' %>
